@font-face{font-family:'FontAwesome';src:url('/synwayui/themes/default/icon/synway_webfont.eot?v=3.2.1');src:url('/synwayui/themes/default/icon/synway_webfont.eot?#iefix&v=3.2.1')
format('embedded-opentype'),url('/synwayui/themes/default/icon/synway_webfont.woff') format('woff'),url('/synwayui/themes/default/icon/synway_webfont.ttf?v=3.2.1') format('truetype'),
url('/synwayui/themes/default/icon/synway_webfont.svg#fontawesomeregular?v=3.2.1') format('svg');font-weight:normal;font-style:normal;}
[class^="synway-"],
[class*=" synway-"]{font-family:FontAwesome;font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing: grayscale;*margin-right:.3em;}
[class^="synway-"]:before,[class*=" synway-"]:before{text-decoration:inherit;display:inline-block;speak:none;}
.synway-large:before{vertical-align:-10%;font-size:1.3333333333333333em;}
a [class^="synway-"],a [class*=" synway-"]{display:inline;}
[class^="synway-"].synway-fixed-width,[class*=" synway-"].synway-fixed-width{display:inline-block;width:1.1428571428571428em;text-align:right;padding-right:0.2857142857142857em;}[class^="synway-"].synway-fixed-width.synway-large,[class*=" synway-"].synway-fixed-width.synway-large{width:1.4285714285714286em;}
.synways-ul{margin-left:2.142857142857143em;list-style-type:none;}.synways-ul>li{position:relative;}
.synways-ul .synway-li{position:absolute;left:-2.142857142857143em;width:2.142857142857143em;text-align:center;line-height:inherit;}
[class^="synway-"].hide,[class*=" synway-"].hide{display:none;}

.synway-spin{display:inline-block;-moz-animation:spin 2s infinite linear;-o-animation:spin 2s infinite linear;-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;}
a .synway-stack,a .synway-spin{display:inline-block;text-decoration:none;}

.synway-move3g-group:before{content:"\0";}/*移动3G分组域警口*/
.synway-move3g-gprs:before{content:"\0";}/*移动3G分组域GPRS*/
.synway-link3g-group:before{content:"\0";}/*联通3G分组域警口*/
.synway-link3g-gprs:before{content:"\0";}/*联通3G分组域GPRS*/
.synway-telecom-group:before{content:"\0";}/*电信3G分组域警口*/
.synway-telecom-gprs:before{content:"\0";}/*电信3G分组域GPRS*/
.synway-common-scout-center:before{content:"\0130";}/*侦控中心*/
.synway-common-synthesizes-search:before{content:"\0131";}/*侦控综合检索*/
.synway-common-onoffine-do:before{content:"\0129";}/*布撤控操作*/
.synway-common-onoffline-ask:before{content:"\0128";}/*布撤控申请*/
.synway-common-hittab:before{content:"\0178";}/*打标*/
.synway-common-onetab:before{content:"\0179";}/*一标*/
.synway-common-twotab:before{content:"\0180";}/*二标*/
.synway-common-threetab:before{content:"\0181";}/*三标*/
.synway-common-telrelstatus:before{content:"\0160";}/*号码实时状态*/
.synway-common-teloperate-record:before{content:"\0161";}/*号码操作记录查询*/
.synway-common-findhistory:before{content:"\0164";}/*历史记录检索*/
.synway-common-bkoperate:before{content:"\0166";}/*布控操作*/
.synway-common-bkrecord:before{content:"\0167";}/*布控记录*/
.synway-common-ckoperate:before{content:"\0168";}/*撤控操作*/
.synway-common-ckrecord:before{content:"\0169";}/*撤控记录*/
.synway-common-bkask:before{content:"\0170";}/*布控申请*/
.synway-common-ckask:before{content:"\0171";}/*撤控申请*/
.synway-common-zkrel-track:before{content:"\01";}/*侦控实时轨迹*/
.synway-common-zkexp:before{content:"\0173";}/*侦控导出*/
.synway-common-listing-print:before{content:"\0174";}/*列表打印*/
.synway-common-ftstamp:before{content:"\0175";}/*翻听打印*/
.synway-common-casename:before{content:"\0125";}/*案件名*/
.synway-common-findquick:before{content:"\0162";}/*快速默认检索*/
.synway-common-zkstatus:before{content:"\0132";}/*侦控状态*/
.synway-common-timefilter:before{content:"\0113";}/*时间过滤*/
.synway-common-keyfilter:before{content:"\0134";}/*关键字过滤*/
.synway-common-groupfilter:before{content:"\0135";}/*分组过滤*/
.synway-common-onoffine-do:before{content:"\0136";}/*布撤控操作*/
.synway-common-move3g:before{content:"\0137";}/*移动3G*/
.synway-common-link3g:before{content:"\0138";}/*联通3G*/
.synway-common-tel3g:before{content:"\0139";}/*电信3G*/
.synway-common-movegsm:before{content:"\0140";}/*移动GSM*/
.synway-common-linkgsm:before{content:"\0141";}/*联通GSM*/
.synway-common-movegsm:before{content:"\0142";}/*电信GSM*/
.synway-common-fixednet:before{content:"\0143";}/*固网*/
.synway-common-iptel:before{content:"\0144";}/*IP电话*/
.synway-common-bk:before{content:"\0149";}/*布控*/
.synway-common-ck:before{content:"\0150";}/*撤控*/
/*全息档案*/
.synway-common-name:before{content:"\0202";}/*姓名*/
.synway-common-relevance-people:before{content:"\0203";}/*相关人员*/
.synway-common-correspond-message:before{content:"\0204";}/*通信信息*/
.synway-common-relation:before{content:"\0205";}/*关系*/
.synway-common-software:before{content:"\0206";}/*软件*/
.synway-common-touchnet:before{content:"\0208";}/*触网*/
.synway-common-labourdata:before{content:"\0209";}/*人工资料*/
.synway-common-fileslog:before{content:"\0221";}/*档案日志*/
.synway-common-basicmessage:before{content:"\0210";}/*基本信息*/
.synway-common-filesremark:before{content:"\0212";}/*档案备注*/




.synway-default-dosuccess:before{content:"\0115";}/*操作成功*/
.synway-default-notdo:before{content:"\0116";}/*未操作*/
.synway-default-dofail:before{content:"\0117";}/*操作失败*/
.synway-default-set:before{content:"\0109";}/*设置*/
.synway-default-save:before{content:"\0176";}/*保存*/
.synway-default-cancel:before{content:"\0177";}/*取消*/
.synway-default-highsearch:before{content:"\0163";}/*高级检索*/
.synway-default-obj:before{content:"\0114";}/*对象*/
.synway-default-cardnum:before{content:"\0105";}/*卡号*/
.synway-default-framecode:before{content:"\0111";}/*机身码*/
.synway-default-qq:before{content:"\0112";}/*QQ*/
.synway-default-wechat:before{content:"\0110";}/*微信*/
.synway-default-email:before{content:"\0106";}/*邮箱*/
.synway-default-defalut:before{content:"\0107";}/*默认图标*/
.synway-default-summarymessage:before{content:"\0122";}/*摘要信息*/
.synway-default-void:before{content:"\0124";}/*语音*/
.synway-default-filter:before{content:"\0187";}/*过滤*/
.synway-default-group:before{content:"\0108";}/*分组*/
.synway-default-position:before{content:"\0104";}/*定位*/
.synway-default-exp:before{content:"\0101";}/*导出*/
.synway-default-stamp:before{content:"\0103";}/*打印*/
.synway-default-find:before{content:"\0102";}/*查询*/
.synway-default-stop:before{content:"\0155";}/*终止*/
.synway-default-close:before{content:"\0154";}/*关闭*/
.synway-default-iset:before{content:"\0156";}/*个人设置图标*/
.synway-default-.datacolumset:before{content:"\0157";}/*数据列表设置*/
.synway-default-hyt:before{content:"\0145";}/*好易通*/
.synway-default-xlt:before{content:"\0146";}/*小灵通*/
.synway-default-internationoffice:before{content:"\0147";}/*国际局*/
.synway-default-help:before{content:"\0185";}/*帮助*/
.synway-default-help2:before{content:"\0184";}/*帮助2*/
.synway-default-phone:before{content:"\0200";}/*手机号*/
.synway-default-add:before{content:"\0213";}/*添加*/
.synway-default-more:before{content:"\0219";}/*更多*/
.synway-default-edit:before{content:"\0220";}/*修改*/
.synway-default-boy:before{content:"\0216";}/*男*/
.synway-default-girl:before{content:"\0217";}/*女*/
.synway-default-idcard:before{content:"\0210";}/*身份证*/
.synway-default-address:before{content:"\0218";}/*地址*/
.synway-default-bag:before{content:"\0211";}/*物品*/


.synway-type-im:before{content:"\0119";}/*Im*/
.synway-type-http:before{content:"\0120";}/*Http*/
.synway-type-shopping:before{content:"\0121";}/*网络购物*/
.synway-type-otzo:before{content:"\0183";}/*1201*/
.synway-type-vpdn:before{content:"\0182";}/*vpdn*/
.synway-type-4glight:before{content:"\0148";}/*4G风光*/






