# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\a_project_workspace\1024_tmoc_lwt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
